@import '../../styles/variables.scss';
@import '../../styles/mixins.scss';

.optionItem {
  width: 100%;
  margin-bottom: 10px;
  display: flex;
  align-items: center;

  @include onDesktop {
    width: 50%;
  }

  &::before,
  &::after {
    content: '';
    display: block;
    height: 1px;
    background-color: $primaryGrey;
    transition: background-color 0.3s ease;
    flex-grow: 1;
    flex-shrink: 1;
  }

  &:hover {
    .optionItemShape {
      stroke: $primaryOrange;
    }

    &::before,
    &::after {
      background-color: $primaryOrange;
    }
  }

  .optionItemContainer {
    position: relative;
    height: 73px;
  }

  .optionItemShape {
    fill: $primaryWhite;
    stroke: $primaryGrey;
    transition: stroke 0.3s ease-in-out;
    width: $optionAnswerMobileWidth;

    @include onDesktop {
      width: $optionAnswerWidth;
    }
  }

  .optionItemLabel {
    position: absolute;
    top: 50%;
    left: 15%;
    transform: translate(0, -50%);
    font-size: 20px;
    padding: 0;

    .optionItemLabelLetter {
      text-transform: capitalize;
      font-weight: 600;
      color: $primaryOrange;
      margin-right: 10px;
    }
  }
}

.isSelected {
  .optionItemShape {
    fill: $lightOrange;
    stroke: $primaryOrange;
  }
}

.isCorrect {
  .optionItemShape {
    fill: $lightGreen;
    stroke: $primaryGreen;
  }

  &:hover {
    .optionItemShape {
      stroke: $primaryGreen;
    }

    &::before,
    &::after {
      background-color: $primaryGreen;
    }
  }
}

.isWrong {
  .optionItemShape {
    fill: $lightRed;
    stroke: $primaryRed;
  }

  &:hover {
    .optionItemShape {
      stroke: $primaryRed;
    }

    &::before,
    &::after {
      background-color: $primaryRed;
    }
  }
}
