@import '../../styles/variables.scss';
@import '../../styles/mixins.scss';

.button {
  min-width: 296px;
  padding: 21px 24px;
  background-color: $primaryOrange;
  color: $primaryWhite;
  font-family: 'Inter', sans-serif;
  cursor: pointer;
  border: 0;
  border-radius: 12px;
  font-size: 15px;
  font-weight: 600;
  transition: background-color 0.3s ease-in-out;

  @include onDesktop {
    font-size: 20px;
  }

  &:hover {
    background-color: $secondaryOrange;
  }

  &:focus {
    background-color: $darkOrange;
  }
}
