@import '../../styles/variables.scss';

.scoreItem {
  position: relative;
  width: fit-content;
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  &::before,
  &::after {
    content: '';
    display: block;
    height: 1px;
    width: 69px;
    background-color: $primaryGrey;
  }

  .scoreItemShape {
    fill: none;
    stroke: $primaryGrey;
  }

  .scoreItemLabel {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -40%);
  }
}

.isActive {
  color: $primaryOrange;
  & .scoreItemShape {
    stroke: $primaryOrange;
  }

  &::before,
  &::after {
    content: '';
    display: block;
    height: 1px;
    width: 69px;
    background-color: $primaryOrange;
  }
}

.isDisabled {
  color: $primaryGrey;
}
