@import '../../styles/variables.scss';

.scoreItem {
  position: relative;
  width: fit-content;
  margin-bottom: 10px;

  .scoreItemShape {
    fill: none;
    stroke: $primaryBlack;
  }

  .scoreItemLabel {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

.isActive {
  color: $primaryOrange;
  & .scoreItemShape {
    stroke: $primaryOrange;
  }
}

.isDisabled {
  color: $primaryGrey;

  & .scoreItemShape {
    stroke: $primaryGrey;
  }
}
