@import '../../styles/variables.scss';
@import '../../styles/mixins.scss';
.wrapper {
  display: flex;
  justify-content: space-between;
  height: 100vh;
  background-color: $lightGrey;

  .content {
    display: flex;
    flex-direction: column;
    justify-content: space-around;

    @include onDesktop {
      width: calc($optionAnswerWidth * 2 + $optionAnswerPadding * 4);
      padding-left: 50px;
    }

    .contentTitle {
      font-size: 18px;
      text-align: center;

      @include onDesktop {
        font-size: 32px;
        text-align: left;
      }
    }
  }
}
