@import '../../styles/variables.scss';

.wrapper {
  display: flex;
  justify-content: space-around;
  height: 100vh;

  .content {
    display: flex;
    justify-content: space-around;
    align-items: center;

    .contentDescription {
      margin-left: 118px;

      .contentDescriptionTitle {
        font-size: 32px;
        color: $primaryBlack;
        opacity: 0.5;
        margin-bottom: 8px;
      }

      .contentDescriptionScore {
        font-size: 56px;
        color: $primaryBlack;
        margin-bottom: 64px;
        margin-top: 0;
      }
    }
  }
}
